* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#root {
	position: relative;
	height: 600px;
}

#main {
	height: 400px;
	width: 800px;
	position: absolute;
	margin: auto;
	top:0;
	bottom: 0;
	right: 0;
	left:0;
	background: white;
	overflow: hidden;
}

.pic {
	width: 800px;
	height: 800px;
	background: url("../img/pic2.jpg") no-repeat center / contain;
    /*transition: transform 5s ease;*/
    transition: background 5s ease;
}

.pic:hover {
    background-position: center -400px;
    /*transform: translateY(calc(-100% + 400px));*/
}