*{
	margin: 0px;
	padding: 0px;
}
section{
	width: 1500px;
	height: 566px;
	background: url(../img/bg1.png) no-repeat center / contain;
}
body{
	margin: auto;
	position: relative;
	width: 1500px;
	height: 1700px;
}
header{
	padding-top: 70px;
	padding-left: 280px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}
#menuBc{
	background: url(../img/menu.png) no-repeat center / contain;
	width: 938px;
	height: 38px;
}
.menuLi a{
	color: #a17b53;
	text-decoration: none;
}
.menuLi{
	list-style: none;
	display: inline;
	font-size: 10px;
	text-transform: uppercase;
	margin-right: 3%;
}
#menu{
	padding-left: 115px;
	padding-top: 7px;
}
.menuLi:first-child{
	font-size: 18px;
	margin-right: 40px;
	text-transform: none;
}
.menuLi:first-child a{
	color: #c08414;
}
.menuLi:last-child{
	margin-left: 7%;
}
.menuLi:last-child a{
	color: #c7b4a0;
}
#tagline{
	font-family: Brush Script MT, Brush Script Std, cursive;
	padding-left: 115px;
	font-size: 10px;
	color: #c8a983;
}
#productsList{
	display: none;
}
.menuLi:nth-child(5):hover #productsList{
	display: block;
	position: absolute;
	left: 670px;
	background: rgba(255,255,255,0.7);
	width: 126px;
	height: 166px;
	padding-top: 16px;
	padding-left: 12px;
	border: 1px solid #b9b9b9;
	border-radius: 5px;
}
.productLi{
	list-style: none;
	text-transform: none;
	margin-bottom: 6px;
}
.productLi a{
	color: #d9b172;
	font-family: Calibri;
}
#sliderContainer{
	display: flex;
	margin-top: 50px;
	padding-left: 358px;
}
#shapeLeft{
	background: url(../img/shapeLeft.png) no-repeat center/contain;
	width: 36px;
	height: 118px;
	margin-top: 85px;
}
#smthSpecial{
	width: 283px;
	height: 230px;
	margin-left: 80px;
	margin-top: 13px;
	background: url(../img/smthSpecial.png) no-repeat center / contain;
}
#cookies1{
	width: 163px;
	height: 230px;
	margin-top: 10px;
	margin-left: -7px;
	background: url(../img/cookies1.png) no-repeat center / contain;
}
#ingredients{
	margin-top: 74px;
	color: #926a2c;
	font-family: Calibri;
	font-size: 12px;
	margin-left: 20px;
}
.ingLi{
	color: #d9b172;
	font-family: Calibri;
	font-size: 10px;
}
#shapeRight{
	background: url(../img/shapeRight.png) no-repeat center/contain;
	width: 36px;
	height: 118px;
	margin-top: 85px;
	margin-left: 110px;
}
#welcome{
	font-size: 19px;
	margin-left: 655px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	color: #c7b4a0;
	margin-top: 30px;
}