body{
	background: rgb(202,202,202);
}
#main{
	background: url(../img/backgroundMain.jpg) no-repeat center / cover;
	width: 960px;
	height: 600px;
	margin: auto;
	position: absolute;
}
#title{
	color: #cfcfcf;
	font-size: 12px;
}
#author{
	color: #6c6c6c;
	font-size: 12px;
}
header{
	margin-top: 95px;
	margin-left: 120px;
}
section{
	display: flex;
	flex-direction: column;
}
.container{
	display: flex;
	margin: 32px 113px 0px;
}
.menuLi{
	width: 81px;
	height: 26px;
	font-size: 14px;
	list-style: none;
	border-right: 1px solid #24211e;
	text-align: center;
	vertical-align:middle;
	display: block;
	padding-top: 13px;
	background: #3f3933;
}
.menuLi:hover{
	background: #544c44;
	cursor: pointer;
}
.menuLi:nth-child(5){
	border-right: none;
}
#menu{
	border: 2px solid #24211e;
	border-radius: 5px;
	width: 410px;
	height: 40px;
	display: inline-block;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	float:left;
}
li a{
	text-decoration: none;
	color: #cfcfcf;
}
#fig3{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 150px;
	left: 429px;
}
#clicker{
	border: 2px solid #24211e;
	border-radius: 5px;
	width: 295px;
	height: 40px;
	display: inline-block;
	margin-left: 20px;
}
.clickerItem{
	width: 37px;
	height: 39px;
	border-right: 1px solid #24211e;
	text-align: center;
	vertical-align:middle;
	display: block;
	float: left;
	background: #3f3933;
}
.clickerItem:nth-child(2){
	width: 169px;
}
.clickerItem:nth-child(3){
	width: 86px;
}
#clickerTriangle{
	padding-top: 12px;
}
#fig1{
	width: 42px;
	height: 33px;
	border: 2px solid #24211e;
	background: #3f3933;
	border-radius: 5px;
}
.container:nth-child(2){
	margin-top: 25px;
}
#fig1_1{
	background: url(../img/fig1_1.png) no-repeat center / cover;
	width: 17px;
	height: 17px;
	display: inline-block;
	margin-top: 7px;
	margin-left: 7px;
}
#fig1_2{
	background: url(../img/fig1_2.png) no-repeat center / cover;
	width: 7px;
	height: 7px;
	display: inline-block;
	margin-bottom: 4px;
}
#fig2{
	width: 121px;
	height: 33px;
	border: 2px solid #24211e;
	background: #3f3933;
	border-radius: 5px;
	margin-left: 17px;
	margin-right: 17px;
}
.fig2_cont{
	width: 29px;
	height: 33px;
	border-right: 1px solid #24211e;
	float: left;
}
.fig2_cont:nth-child(4){
	border-right: none;
}
#fig2_1{
	background: url(../img/fig2_1.png) no-repeat center / cover;	
}
#fig2_2{
	background: url(../img/fig2_2.png) no-repeat center / cover;	
}
#fig2_3{
	background: url(../img/fig2_3.png) no-repeat center / cover;	
}
#fig2_4{
	background: url(../img/fig2_4.png) no-repeat center / cover;	
}
.fig2_gen{
	width: 15px;
	height: 15px;
	margin-top: 8px;
	margin-left: 8px;
}
.fig3{
	width: 33px;
	height: 33px;
	border: 2px solid #24211e;
	background: #3f3933;
	border-radius: 5px;
	margin-right: 8px;
}
#fig3_1{
	background: url(../img/triangle1.png) no-repeat center / contain;	
}
#fig3_2{
	background: url(../img/triangle2.png) no-repeat center / contain;
	margin-left: 9px;
	width: 14px;
	height: 14px;	
}
.triangle{
	width: 13px;
	height: 13px;
	margin-top: 10px;
	margin-left: 12px;
}
.fig4{
	width: 40px;
	height: 33px;
	border: 2px solid #24211e;
	background: #3f3933;
	border-radius: 5px;
	margin-left: 11px;
	margin-right: 10px;
}
#pensil{
	background: url(../img/pensil.png) no-repeat center / contain;	
}
#location{
	background: url(../img/location.png) no-repeat center / contain;	
}
.icon{
	width: 17px;
	height: 17px;
	margin-top: 8px;
	margin-left: 12px;
}
.fig5{
	margin-right: 0px;
	margin-left: 8px;
}
input{
	width: 175px;
	height: 32px;
	background: #3f3933;
	border: 2px solid #24211e;
	border-radius: 5px;
	color: #7d756c;
	padding-left: 5px;
}
.fig6{
	width: 32px;
	height: 33px;
	border: 2px solid #24211e;
	background: #3f3933;
	border-radius: 5px;
	margin-right: 8px;
}
#search{
	background: url(../img/search.png) no-repeat center / contain;
	margin-left: 9px;
}
