* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	width: 1200px;
	height: 80px;
	background: #f1f1f1;
	margin: auto;
	position: relative;
}

.logo {
	background: url(../img/logo.png) no-repeat center / contain;
	width: 200px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 110px;
}

.logoText {
	font-size: 9px;
	text-transform: uppercase;
	font-family: Roboto Medium;
	color: #abc2dd;
	position: absolute;
	top: 50px;
	left: 240px;
}

#search {
	width: 220px;
	height: 40px;
	border: 1px solid #e5e5e5;
	border-radius: 30px;
	background: none;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 200px;
}

#searchIcon {
	background: url(../img/searchIcon.png) no-repeat center / contain;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 213px;
}

.elipse {
	width: 50px;
	height: 50px;
	background: url(../img/elipse.png) no-repeat center / contain;
	right: 110px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;

}

#menu {
	width: 20px;
	height: 20px;
	background: url(../img/lines.png) no-repeat center / contain;
	right: 124px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;

}

.part1 {
	width: 1200px;
	height: 520px;
	background: #99b9de;
	margin: auto;
	position: relative;
}

.headerPart1 {
	font-family: Roboto Bold;
	font-size: 25px;
	color: white;
	padding-top: 50px;
	text-align: center;

}

#switcher1 {
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(../img/switcher1.png) no-repeat center / contain;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 90px;
}

#switcher2 {
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(../img/switcher2.png) no-repeat center / contain;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 90px;
}

#playButton {
	position: absolute;
	width: 110px;
	height: 110px;
	background: url(../img/playButton.png) no-repeat center / contain;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.photo1 {
	position: absolute;
	width: 540px;
	height: 335px;
	background: url(../img/photo1.png) no-repeat center / contain;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 3;
}

.textBg1 {
	position: absolute;
	width: 540px;
	height: 65px;
	background: url(../img/textBg1.png) no-repeat center / cover;
	bottom: 0;
	z-index: 1;
	font-family: Roboto;
	color: white;
	font-size: 16px;
	padding: 15px;
}

.smFont {
	margin-top: 5px;
	font-size: 10px;
}

.photo2 {
	position: absolute;
	width: 400px;
	height: 250px;
	background: url(../img/photo2.png) no-repeat left / cover;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 200px;
	z-index: 1;
}

.shadow2 {
	position: absolute;
	width: 400px;
	height: 250px;
	background: rgb(143, 183, 225, 0.5);
	margin: auto;
	top: 0;
	bottom: 0;
	left: 200px;
	z-index: 2;
}


.textBg2 {
	position: absolute;
	width: 400px;
	height: 50px;
	background: url(../img/textBg1.png) no-repeat center / cover;
	bottom: 0;
	z-index: 1;
	font-family: Roboto;
	color: white;
	font-size: 11px;
	padding: 10px;
}

.smFont2 {
	margin-top: 3px;
	font-size: 8px;
}

.photo3 {
	position: absolute;
	width: 400px;
	height: 250px;
	background: url(../img/photo3.png) no-repeat left / cover;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 200px;
	z-index: 1;
}

.shadow3 {
	position: absolute;
	width: 400px;
	height: 250px;
	background: rgb(143, 183, 225, 0.5);
	margin: auto;
	top: 0;
	bottom: 0;
	right: 200px;
	z-index: 2;
}

.part2 {
	width: 1200px;
	height: 100px;
	background: #f4f4f4;
	margin: auto;
	position: relative;
}

.part2Text {
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	left: 110px;
	font-size: 20px;
	font-weight: bold;
	color: #414770;
	height: 20px;
}

#okButton {
	width: 110px;
	height: 40px;
	background: #3c91ec;
	color: white;
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	right: 110px;
	padding-top: 12px;
	text-align: center;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 14px;
}

.part3 {
	width: 1200px;
	height: 800px;
	background: #f4f4f4;
	margin: auto;
	position: relative;
}

.menu {
	background: rgba(57, 64, 106, 0.8);
	width: 100%;
	height: 105px;
	position: absolute;
	z-index: 2;
	top:0;
}

.menuB {
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	border: 1px solid white;
	padding-top: 12px;
	margin-top: 32px;
	margin-right: 20px;
	display: inline-block;
	border-radius: 20px;
	text-align: center;
	height: 40px;
}

.menuB:hover{
	background: #3b91eb;
	cursor: pointer;
	border: 1px solid #3b91eb;
}

.menuButton1 {
	width: 95px;
	margin-left: 225px;
}

.menuButton2 {
	width: 110px;
}

.menuButton3 {
	width: 100px;
}

.menuButton4 {
	width: 105px;
}

.menuButton5 {
	width: 150px;
}

.menuButtonSp {
	text-transform: none;	
	width: 100px;
	border: none;
	background: #151d4c;
}

.videoGeneral{
	width: 360px;
	height: 260px;
	position: relative;
	z-index: 1;
}

.photo4 {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
}


.videoText {
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
}

.videoText1 {
	font-size: 16px;
}

.videoText2 {
	font-size: 12px;
	color: #c6c6c6;
}


.cont1 {
	display: flex;
	position: absolute;
	width: 755px;
	height: 260px;
	margin: auto;
	top: 50px;
	right:0;
	left:0;
}

.videoPlace1 {
	margin-right: 30px;
}

.videoPlace3 {
	margin-right: 30px;
}

.cont2 {
	display: flex;
	position: absolute;
	width: 755px;
	height: 260px;
	margin: auto;
	bottom: 190px;
	right:0;
	left:0;
}

#clicker {
	width: 180px;
	height: 61px;
	position: absolute;
	bottom: 70px;
	margin: auto;
	right:0;
	left:0;
	display: flex;
}

.base2 {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	padding: 20px 25px;
	color: #9b9b9c;
}

.base1 {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	margin: auto;
	padding: 20px 25px;
	color: #c3c3c4;
}

.base3 {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	margin: auto;
	padding: 20px 25px;
	color: #c3c3c4;
}

.part4 {
	width: 1200px;
	height: 330px;
	background: #f5f5f5;
	margin: auto;
	position: relative;
}

.part4Text {
    font-size: 20px;
    font-weight: bold;
    color: #414770;
    position: absolute;
	top: 0;
	bottom: 0;
	left: 200px;
	margin: auto;
	height: 20px;
}

.part4Videos {
	font-size: 14px;
	width: 100px;
	height: 40px;
	border-radius: 30px;
	text-align: center;
	padding-top: 11px;
	color: #70737f;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 207px;
	margin: auto;
	border: 1px solid #d9d9d9;
}

.header4 {
	height: 90px;
	position: relative;
}

.cont3 {
    display: flex;
    position: absolute;
    width: 800px;
    height: 190px;
    margin: auto;
    top: 90px;
    right: 0;
    left: 0;
}

.cont3Part {
	width: 250px;
	height: 100%;
	position: relative;
	margin-right: 20px;
}

.cont3Pic {
	width: 100%;
	height: 140px;
	position: absolute;
	top:0;
}

.cont3Text {
	width: 100%
	height: 50px;
	position: absolute;
	bottom: 0;
}

.cont3Text1 {
	font-size: 14px;
	margin-bottom: 8px;
}

.cont3Text2 {
	font-size: 10px;
	color: #c3c3c4;
}

.picBusiness {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 65px;
	height: 25px;
	background: #f7f7f7;
	padding-left: 20px;
	padding-top: 5px;
	font-size: 10px;
	border-radius: 10px;
}

.cont3PicLast {
	margin-right: 0px;
}

.switch1 {
	position: absolute;
	top:0;
	bottom: 0;
	left: 110px;
	margin: auto;
	width: 60px;
	height: 60px;
	background: #dddde2;
	border-radius: 30px;
	color: white;
	padding: 20px 25px;
	font-size: 20px;
}

.switch2 {
	position: absolute;
	top:0;
	bottom: 0;
	right: 110px;
	margin: auto;
	width: 60px;
	height: 60px;
	background: #dddde2;
	border-radius: 30px;
	color: white;
	padding: 20px 25px;
	font-size: 20px;
}

footer {
	width: 1200px;
	height: 80px;
	background: #161e50;
	position: relative;
}

.year {
	color: white;
	font-size: 14px;
	right: 120px;
	top:0;
	bottom: 0;
	margin: auto;
	height: 20px;
	position: absolute;
}


.logo2 {
	background: url(../img/logo2.png) no-repeat center / contain;
	width: 200px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 110px;
}
